@import "../../res/styles/_required";

.landing-page {

  padding-top: 80px;

  .illustration {

    text-align: right;

    i.fa {
      transform: rotate(45deg);
      font-size: 9em;
      color: color('gray-dark');
    }

  }

  h1 {
    margin-bottom:1em;
  }

  p {
    font-size:2em;
    margin-bottom:0.8em;
  }

}
