# dependencies
/node_modules
bower_components

# testing
/coverage
/tmp
.travis/crx_signing.pem

# build
/build
apidoc/
cert/
.eslintcache

# editors
*.sublime*
atlassian-ide-plugin.xml
.idea/

# fonts
/src/res/fonts/TypeMates
src/res/styles/fonts.css

# misc
.DS_Store
.svn
*~
.directory
mailvelope.iml
.npmrc
