[submodule "dep/chrome/openpgpjs"]
	path = dep/chrome/openpgpjs
	url = git://github.com/toberndo/openpgpjs.git
[submodule "firefox/packages/ppg-api"]
	path = firefox/packages/ppg-api
	url = git://github.com/invi/ppg-api.git
