language: node_js
node_js:
- '0.10'
before_install:
- npm install -g grunt-cli
- npm install -g bower
install:
- cd dep/chrome/openpgpjs
- npm install
- grunt
- cd ../../firefox/openpgpjs
- npm install
- grunt
- cd ../../..
- npm install
- bower install
- grunt
script:
- grunt dist-cr
- grunt dist-ff
- grunt dist-doc
- npm run-script deploy-doc
env:
 global:
 - GH_REF=github.com/mailvelope/mailvelope.git
 - secure: "evnYoSpdhcwSlYS+PvMZFvh1xairXh+CUhKwzFvoccDoxSoDtZvzSibyntky0mz+UK7XC0JC515vKSqRn3zn9/4BEedGv8Xfrvc4q1+Ln5v2zO/2pmzcqXh3dWNnlpB5teyFb0nvpaB9cTtM8MPXkMqbn47OEM0sLTEayYAXAB4="
deploy:
 provider: releases
 api-key: ${GH_TOKEN}
 file: dist/*
 file_glob: true
 skip_cleanup: true
 on:
  tags: true
  all_branches: true
