<div id="keyBackup">
  <div id="key_backup_generator">
    <div class="d-flex flex-column">
      <button type="button" class="btn btn-link secureBgndSettingsBtn lockBtnIcon flex-shrink-0 ml-auto mb-2" data-l10n-title-id="security_background_button_title"></button>
      <div class="card" role="main">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title" data-l10n-id="keybackup_dialog_headline"></h5>
          <p class="card-text" data-l10n-id="keybackup_dialog_description"></p>
          <ul>
            <li data-l10n-id="keybackup_dialog_list_1"></li>
            <li data-l10n-id="keybackup_dialog_list_2"></li>
          </ul>
          <div id="errorMsg" class="alert alert-danger" role="alert" style="display:none"></div>
          <button id="createBackupCodeBtn" class="btn btn-primary align-self-end" data-l10n-id="keybackup_dialog_button"></button>
        </div>
      </div>
    </div>
  </div>
  <div id="key_backup_waiting" class="card">
    <div class="card-body">
      <div class="m-spinner-inline my-3"><div class="symbol"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
        <h5 class="card-title" data-l10n-id="keybackup_waiting_headline"></h5>
        <p class="card-text" data-l10n-id="keybackup_waiting_description"></p>
    </div>
  </div>
</div>
