<div id="editorBody">
  <div id="flex-container">
    <div style="" id="header">
      <div class="" id="buttonBar">
        <button class="btn btn-link secureBgndSettingsBtn"
          data-l10n-title-id="security_background_button_title">
          <span class="glyphicon lockBtnIcon"></span>
        </button>
      </div>
      <div class="" id="uploadPanel"></div>
    </div>

    <div id="recipients">
    </div>

    <div id="body">
      <div id="plainText"></div>
    </div>

    <div id="footer">
    </div>
  </div>
</div>
