<!DOCTYPE html>
<html ng-csp>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../dep/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../../dep/ng-tags-input/ng-tags-input.min.css">
  <link rel="stylesheet" href="../../dep/ng-tags-input/ng-tags-input.bootstrap.min.css">
  <link rel="stylesheet" href="../../dep/angular/angular-csp.css">
  <link rel="stylesheet" href="../../mvelo.css">
  <link rel="stylesheet" href="editor.css">
  <script src="../../dep/jquery.min.js"></script>
  <script src="../../lib/jquery.ext.js"></script>
  <script src="../../dep/bootstrap/js/bootstrap.js"></script>
  <script src="../../dep/angular/angular.min.js"></script>
  <script src="../../dep/ng-tags-input/ng-tags-input.min.js"></script>
  <script src="../../dep/react/react.js"></script>
  <script src="../../dep/react/react-dom.js"></script>
  <script src="editor.bundle.js"></script>
</head>
  <body>
  </body>
</html>
