.keySelect {
    min-width:260px;
}

/*.keySelect button {
    width: 100%;
    text-align: left;
}*/

/*.keySelect .caret {
    margin-top: 0.55em;
}*/

.keySelect .dropdown-menu {
  font-size: 0.875rem;
}

/*.keySelect .dropdown-menu>li>a {
    padding: 3px 10px;
    cursor: pointer;
}*/
