.keyUsers .panel-heading {
    padding: 5px 15px;
}

.keyUsers .panel-heading h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
}
.keyUsers .table {
    font-size: 14px;
}

.keyUsers .table>tbody>tr {
    cursor: pointer;
}

.keyUsers .table>tbody>tr>th, .table>tbody>tr>td {
    vertical-align: middle;
}
