/***************************************
 * RECOVERY SHEET ROOT ELEMENT
 */
.recovery-sheet {
    min-width: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #262626;
    box-sizing: border-box;
}

/***************************************
 * TEASER ELEMENT
 */
.recovery-sheet_teaser {
    position: relative;
    background-color: #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.recovery-sheet_teaser h1 {
    margin: 10px 0;
    font-size: 54px;
    color: #515151;
}

.recovery-sheet_teaser img {
    margin: 20px;
}

/***************************************
 * GLOBAL CONTENT
 */
.recovery-sheet_content {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    max-width: 880px;
}

.recovery-sheet_content h2,
.recovery-sheet_content h3,
.recovery-sheet_content h4 {
    color: #515151;
}

.recovery-sheet_content h2 {
    font-size: 43px;
    margin-top: 0;
}

.recovery-sheet_content h3 {
    font-size: 15px;
}

.recovery-sheet_content h4 {
    font-size: 14px;
}

.recovery-sheet_content p:last-of-type {
    margin-bottom: 0;
}

/***************************************
 * CONTENT PANEL ELEMENT
 */
.recovery-sheet_panel {
    background-color: #e8eef7;
    border: 1px solid #c6c6c6;
    margin: 20px 15px 0;
    overflow: hidden;
    width: 100%;
}

.recovery-sheet_panel-content {
    margin: 20px;
}

/***************************************
 * CODE PANEL ELEMENT
 */
.recovery-sheet_code {
    display: flex;
    flex-direction: column;
}

.recovery-sheet_code-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recovery-sheet_code-header * {
    margin-top: 0;
}

.recovery-sheet_code-container {
    background-color: #fff;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recovery-sheet_code-digit {
    background-color: #ccc;
    border: 1px dotted #c6c6c6;
    padding: 5px 10px;
    font-size: 30px;
    text-align: center;
    font-family: Consolas, "Lucida Console", Monaco, monospace;
}

.recovery-sheet_code-separator {
    font-size: 30px;
    margin: 5px;
}

/***************************************
 * DEVICE ELEMENTS
 */
.recovery-sheet_devices {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.recovery-sheet_devices-item {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.recovery-sheet_devices-item:first-of-type {
    padding-right: 45px;
    border-right: 1px solid #c6c6c6;
}

.recovery-sheet_devices-item:last-of-type {
    padding-left: 45px;
    border-left: 1px solid #c6c6c6;
}

.recovery-sheet_devices-image {
    width: 100px;
    height: 60px;
    background-color: #999;
}

.recovery-sheet_devices-split-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.recovery-sheet_devices-split-content:last-child {
    margin-bottom: 0;
}

.recovery-sheet_devices-split-content p,
.recovery-sheet_devices-split-content h4 {
    max-width: 150px;
}

.recovery-sheet_devices-qr-code {
    width: 100px;
    height: 100px;
}

/***************************************
 * DESCRIPTION
 */
.recovery-sheet_description {
    margin-top: 50px;
    margin-bottom: 50px;
}

/***************************************
 * PRINT BUTTON
 */
.recovery-sheet_print {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

img.recovery-sheet_print-button {
    margin: 0 15px;
    opacity: 0.75;
    cursor: pointer;
}

button.recovery-sheet_print-button {
    margin: 0 15px;
    opacity: 0.75;
    cursor: pointer;

    width: 150px;
    height: 46px;
    border: thin solid #f2bd3e;
    border-radius: 4px;
    font-size: 15px;
    line-height: 1em;

    background: #ffe689 linear-gradient(to bottom,  #ffe689 0%,#ffcf1e 100%);
}

.recovery-sheet_print-button:hover {
    opacity: 1;
}

/***************************************
 * MISC CLASSES
 */

.page-breaker {
    padding: 0;
    margin: 0;
    border: 0;
}

/***************************************
 * TEMPORARY
 */
.logo {
    width: 100px;
    height: auto;
    background-color: #fff;
}

.logo-gmx {  
    margin-top:26px;
}

/***************************************
 * PRINT SPECIFIC LAYOUT
 */
@media print {

    .recovery-sheet {
        display: block;
    }

    .visible-print-block {
        display: flex !important;
    }

    .recovery-sheet_teaser {
        border: 1px solid #000;
    }

    .recovery-sheet_teaser img {
        margin: 10px;
    }

    .recovery-sheet_panel {
        max-width: 680px;
    }

    .recovery-sheet_code-container {
        height: auto;
    }

    .recovery-sheet_content {
        margin: 20px 0;
    }

    .recovery-sheet_content h2 {
        font-size: 30px;
    }

    .recovery-sheet_content h3 {
        margin-bottom: 0;
    }

    .recovery-sheet_description {
        margin: 20px 0;
    }

    .page-breaker {
        page-break-after: always;
        page-break-inside: avoid;
    }
}
