html, body {

}
.recovery-sheet {
    min-width: 740px;
    display: flex;
    flex-direction: column;
    color: #262626;
    box-sizing: border-box;
}

/***************************************
 * CONTENT
 */
.recovery-sheet_teaser {
    position: relative;
    background-color: #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.recovery-sheet_teaser h1 {
    margin: 10px 0;
    font-size: 54px;
    color: #515151;
}

.recovery-sheet_teaser img {
    margin: 20px;
}

/***************************************
 * CONTENT
 */
.recovery-sheet_content {
    font-size: 12px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recovery-sheet_content h2,
.recovery-sheet_content h3,
.recovery-sheet_content h4 {
    color: #515151;
}

.recovery-sheet_content h3 {
    font-size: 15px;
}

.recovery-sheet_content h4 {
    font-size: 13px;
}

.recovery-sheet_content h2 {
    font-size: 43px;
    line-height: 50px;
    margin-top: 0;
}

/***************************************
 * SHEET PANEL
 */
.recovery-sheet_panel {
    background-color: #e8eef7;
    border: 1px solid #c6c6c6;
    margin: 20px 15px 0;
    overflow: hidden;
    max-width: 880px;
    width: 100%;
}

.recovery-sheet_panel-content {
    margin: 20px;
}

/***************************************
 * RECOVERY CODE PANEL
 */
.recovery-sheet_code {
    display: flex;
    flex-direction: column;
}

.recovery-sheet_code-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recovery-sheet_code-header * {
    margin-top: 0;
}

.recovery-sheet_code-container {
    background-color: #bbb;
    height: 85px;
}

/***************************************
 * RECOVERY DEVICES
 */
.recovery-sheet_devices {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.recovery-sheet_devices-item {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.recovery-sheet_devices-item:first-of-type {
    padding-right: 45px;
    border-right: 1px solid #c6c6c6;
}

.recovery-sheet_devices-item:last-of-type {
    padding-left: 45px;
    border-left: 1px solid #c6c6c6;
}

.recovery-sheet_devices-image {
    width: 100px;
    height: 60px;
    background-color: #999;
}

.recovery-sheet_devices-split-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.recovery-sheet_devices-split-content p,
.recovery-sheet_devices-split-content h4 {
    max-width: 150px;
}

/***************************************
 * RECOVERY DESCRIPTION
 */
.recovery-sheet_description {
    margin-top: 50px;
    margin-bottom: 50px;
}

/***************************************
 * RECOVERY SHEET - PRINT BUTTON
 */
.recovery-sheet_print {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 30px 0;
}

.recovery-sheet_print-button {
    margin: 0 15px;
    opacity: 0.75;
    cursor: pointer;
}

.recovery-sheet_print-button:hover {
    opacity: 1;
}


/***************************************
 * TEMPORARY
 */
.logo {
    width: 100px;
    height: 60px;
    background-color: #999;
}