
body {
  width: 200px;
  height: 310px;
  overflow: hidden;
}

.btn, .btn:active, .btn:focus {
  outline: none !important;
}

#add {
  width: 90px;
  max-width: 90px;
  padding: 3px;
}

#reload {
  width: 90px;
  max-width: 90px;
  padding: 3px;
}

#add span {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

#reload span {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.btn-link .glyphicon {
  margin-right: 4px;
}

#options .glyphicon {
  margin-right: 4px;
}

.popup {
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
}

.popupHeader {
    order: 0;
    flex: 1 1 50px;
    align-self: stretch;

    padding: 5px;
    min-height: 50px;
    max-height: 50px;
}

.popupBody {
    order: 0;
    flex: 1 1 auto;
    align-self: stretch;

    overflow-y: hidden;
    padding: 4px;
    border-bottom: 1px lightgray solid;
}

.popupFooter {
    order: 0;
    flex: 1 1 40px;
    align-self: stretch;

    padding: 6px;
    min-height: 40px;
    max-height: 40px;
}

.popupLogo {
    width: 100%;
    height: 25px;
    background: center no-repeat url(../img/maivelope-logo.svg);
}

.popupLogo:active {
  background: transparent url(../img/maivelope-logo.svg) no-repeat center;
}

.separationLine {
    border-top: 1px solid lightgrey;
    padding-top: 5px;
    padding-left: 5px;
    margin-bottom: 3px;
}

#activityLog div {
  font-size: 11px;
}

#activityLog div::before {
  content: ""
}

#activityLog .timestamp::before {
  content: ""
}

#activityLog .timestamp::after {
  content: " - "
}

.logEntry {
  white-space: nowrap;
  width: 185px;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}

#emptySecurityLog {
  color: lightgray;
}
