<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="../../dep/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../../mvelo.css">
  <link rel="stylesheet" href="recoverySheet.css">

  <script src="../../dep/jquery.min.js"></script>
  <script src="../../lib/jquery.ext.js"></script>
  <script src="../../dep/qrcodejs/qrcode.js"></script>
  <script src="../../mvelo.js"></script>
  <script src="recoverySheet.js"></script>
</head>
<body>
<div class="recovery-sheet">
  <header class="recovery-sheet_teaser">
    <img src="assets/lock.png"/>

    <h1 class="recovery-sheet_panel-headline" data-l10n-id="recovery_sheet_header"></h1>
    <img src="assets/lock.png"/>
  </header>

  <section class="recovery-sheet_content container">
    <div class="row">
      <div class="col-xs-2">
        <img src="../../img/mail_locked_96.png" class="logo"/>
      </div>
      <div class="col-xs-10">
        <h2 data-l10n-id="recovery_sheet_subtitle_receipt"></h2>

        <h3 class="hidden-print" data-l10n-id="recovery_sheet_print_notice"></h3>

        <h3 class="visible-print-block" data-l10n-id="recovery_sheet_print_block"></h3>
      </div>
    </div>

    <section class="recovery-sheet_print hidden-print">
      <img src="assets/printer.png"/>
      <button class="recovery-sheet_print-button" data-l10n-id="recovery_sheet_print_button"></button>
      <img src="assets/printer.png"/>
    </section>

    <section class="recovery-sheet_panel">
      <div class="recovery-sheet_panel-content">
        <div class="recovery-sheet_code">
          <div class="recovery-sheet_code-header">
            <h3 data-l10n-id="recovery_sheet_recovery_code"></h3>

            <h3><span data-l10n-id="recovery_sheet_creation_date"></span> <span id="currentDate"></span></h3>
          </div>
          <div class="recovery-sheet_code-container">
            <span class="recovery-sheet_code-digit"></span>
            <span class="recovery-sheet_code-separator">-</span>
            <span class="recovery-sheet_code-digit"></span>
            <span class="recovery-sheet_code-separator">-</span>
            <span class="recovery-sheet_code-digit"></span>
            <span class="recovery-sheet_code-separator">-</span>
            <span class="recovery-sheet_code-digit"></span>
            <span class="recovery-sheet_code-separator">-</span>
            <span class="recovery-sheet_code-digit"></span>
            <span class="recovery-sheet_code-separator">-</span>
            <span class="recovery-sheet_code-digit"></span>
          </div>
        </div>

        <div class="recovery-sheet_plain-content">
          <h3 data-l10n-id="recovery_sheet_subtitle_recover"></h3>

          <p data-l10n-id="recovery_sheet_not_working"></p>

          <ul>
            <li data-l10n-id="recovery_sheet_forgot_password"></li>
            <li data-l10n-id="recovery_sheet_extension_problems"></li>
            <li data-l10n-id="recovery_sheet_other_problems"></li>
          </ul>

          <p data-l10n-id="recovery_sheet_check_settings"></p>

          <p><em data-l10n-id="recovery_sheet_provider_inbox"></em> > <em data-l10n-id="recovery_sheet_provider_settings"></em> > <em class="gmx-specific" data-l10n-id="recovery_sheet_provider_security"></em><span class="gmx-specific"> > </span><em data-l10n-id="recovery_sheet_provider_communication"></em>.</p>
        </div>
      </div>
    </section>

    <section class="recovery-sheet_panel">
      <div class="recovery-sheet_panel-content">
        <h3 data-l10n-id="recovery_sheet_other_devices"></h3>

        <div class="recovery-sheet_devices">
          <div class="recovery-sheet_devices-item recovery-sheet_devices-desktop">
            <div class="recovery-sheet_devices-split-content">
              <h4 data-l10n-id="recovery_sheet_other_computer"></h4>
              <img class="desktop-image"/>
            </div>
            <p data-l10n-id="recovery_sheet_enter_code"></p>

            <p><em data-l10n-id="recovery_sheet_provider_inbox"></em> > <em data-l10n-id="recovery_sheet_provider_settings"></em> > <em class="gmx-specific" data-l10n-id="recovery_sheet_provider_security"></em><span class="gmx-specific"> > </span><em data-l10n-id="recovery_sheet_provider_communication"></em></p>
          </div>
          <div class="recovery-sheet_devices-item recovery-sheet_devices-mobile">
            <div class="recovery-sheet_devices-split-content">
              <h4 data-l10n-id="recovery_sheet_mobile_devices"></h4>
              <img class="smartphone-image"/>
              <img class="tablet-image"/>
            </div>
            <div class="recovery-sheet_devices-split-content">
              <p data-l10n-id="recovery_sheet_qr_code"></p>
              <div id="qrcode"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="recovery-sheet_print hidden-print">
      <img src="assets/printer.png"/>
      <button class="recovery-sheet_print-button" data-l10n-id="recovery_sheet_print_button"></button>
      <img src="assets/printer.png"/>
    </section>
  </section>

  <footer class="recovery-sheet_teaser visible-print-block">
    <img src="assets/lock.png"/>

    <h1 class="recovery-sheet_panel-headline" data-l10n-id="recovery_sheet_header"></h1>
    <img src="assets/lock.png"/>
  </footer>

  <hr class="page-breaker"/>

  <header class="recovery-sheet_teaser">
    <img src="assets/lock.png"/>

    <h1 class="recovery-sheet_panel-headline" data-l10n-id="recovery_sheet_header"></h1>
    <img src="assets/lock.png"/>
  </header>

  <section class="recovery-sheet_content container">
    <div class="row">
      <div class="col-xs-2">
        <img src="../../img/mail_locked_96.png" class="logo"/>
      </div>
      <div class="col-xs-10">
        <h2 data-l10n-id="recovery_sheet_encryption_note"></h2>

        <p data-l10n-id="recovery_sheet_explain_pgp"></p>

        <div class="recovery-sheet_description">
          <h4 data-l10n-id="recovery_sheet_backup_data"></h4>
          <ul>
            <li data-l10n-id="recovery_sheet_backup_server"></li>
            <li data-l10n-id="recovery_sheet_backup_local"></li>
            <li><em data-l10n-id="recovery_sheet_be_aware"></em>: <span data-l10n-id="recovery_sheet_data_lost"></span></li>
          </ul>

          <h4 data-l10n-id="recovery_sheet_recover_data"></h4>
          <ul>
            <li data-l10n-id="recovery_sheet_unlock_backup"></li>
            <li><em data-l10n-id="recovery_sheet_recommendation"></em>: <span data-l10n-id="recovery_sheet_keep_safe"></span></li>
          </ul>

          <h4 data-l10n-id="recovery_sheet_other_contacts"></h4>
          <ul>
            <li data-l10n-id="recovery_sheet_pgp_compat"></li>
            <li data-l10n-id="recovery_sheet_key_server"></li>
            <li data-l10n-id="recovery_sheet_invite_contacts"></li>
            <li><em data-l10n-id="recovery_sheet_recommendation"></em>: <span data-l10n-id="recovery_sheet_trusted_contacts"></span></li>
          </ul>

          <h4 data-l10n-id="recovery_sheet_other_devices_setup"></h4>
          <ul>
            <li><em data-l10n-id="recovery_sheet_in_general"></em>: <span data-l10n-id="recovery_sheet_unknown_third"></span></li>
          </ul>
        </div>

        <p><span data-l10n-id="recovery_sheet_further_info"></span> <em class="gmx-specific" data-l10n-id="recovery_sheet_provider_inbox"></em><span class="gmx-specific"> > </span><em data-l10n-id="recovery_sheet_provider_settings"></em> > <em class="gmx-specific" data-l10n-id="recovery_sheet_provider_security"></em><span class="gmx-specific"> > </span><em data-l10n-id="recovery_sheet_provider_communication"></em>.</p>
      </div>
    </div>
    <section class="recovery-sheet_print hidden-print">
      <img src="assets/printer.png"/>
      <button class="recovery-sheet_print-button" data-l10n-id="recovery_sheet_print_button"></button>
      <img src="assets/printer.png"/>
    </section>

  </section>

  <footer class="recovery-sheet_teaser">
    <img src="assets/lock.png"/>

    <h1 class="recovery-sheet_panel-headline" data-l10n-id="recovery_sheet_header"></h1>
    <img src="assets/lock.png"/>
  </footer>
</div>
</body>
</html>
