@mixin button-variant-custom($color, $value, $border-color: theme-color-level($color, 2), $box-shadow: inset 0 -1px 0 theme-color-level($color, 2)) {
  border-color: $border-color;
  @include box-shadow($box-shadow);

  @include hover {
    @include gradient-bg(theme-color-level($color, 1));
    border-color: $border-color;
  }

  &.disabled,
  &:disabled {
    border-color: $border-color;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    background-color: $border-color;
    border-color: $border-color;
  }    
}
