<div id="restorePrivateKey" class="d-flex flex-column">
  <button type="button" class="btn btn-link secureBgndSettingsBtn lockBtnIcon flex-shrink-0 ml-auto mb-2" data-l10n-title-id="security_background_button_title"></button>
  <div id="restoreBackupPanel" class="card" role="main">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title" data-l10n-id="restore_backup_dialog_headline"></h5>
      <div class="d-inline-flex align-items-center justify-content-center my-3">
        <input type="text" class="form-control flex-digit text-monospace" maxlength="5" autofocus>
        <span class="flex-separator"> – </span>
        <input type="text" class="form-control flex-digit text-monospace" maxlength="5">
        <span class="flex-separator"> – </span>
        <input type="text" class="form-control flex-digit text-monospace" maxlength="5">
        <span class="flex-separator"> – </span>
        <input type="text" class="form-control flex-digit text-monospace" maxlength="5">
        <span class="flex-separator"> – </span>
        <input type="text" class="form-control flex-digit text-monospace" maxlength="5">
        <span class="flex-separator"> – </span>
        <input type="text" class="form-control flex-digit last text-monospace" maxlength="1">
      </div>
      <div id="errorMsg" class="alert alert-danger" role="alert" style="display:none"></div>
      <button id="restoreBackupBtn" class="btn btn-primary align-self-end" data-l10n-id="restore_backup_dialog_button"></button>
    </div>
  </div>
  <div id="restorePasswordPanel" class="card" role="main">
    <div class="card-body">
      <h5 class="card-title" data-l10n-id="restore_password_dialog_headline">Ihr Schlüssel-Passwort:</h5>
      <div class="d-flex">
        <input type="password" class="form-control flex-grow-1 mr-2 text-monospace" id="restorePasswordInput" readonly>
        <button id="restorePasswordBtn" class="btn btn-primary flex-shrink-0" data-l10n-id="restore_password_dialog_button">anzeigen</button>
      </div>
    </div>
  </div>
</div>
