<div id="keyGenerator">
  <div id="key_gen_generator">
    <div class="d-flex flex-column">
      <button type="button" class="btn btn-link secureBgndSettingsBtn lockBtnIcon flex-shrink-0 ml-auto mb-2" data-l10n-title-id="security_background_button_title"></button>
      <div id="keyGenPasswordPanel" class="card" role="main">
        <div class="card-body">
          <p class="card-text" data-l10n-id="keygen_dialog_prolog"></p>        
          <form>          
            <div id="pwd-form-group" class="form-group row">
              <label for="keygen-password" class="col-sm-3 col-form-label" data-l10n-id="keygen_dialog_password"></label>
              <div class="col-sm-9">
                <input type="password" class="form-control text-monospace" id="keygen-password" placeholder="Email" data-length-min="4" autocomplete="off">
              </div>
            </div>
            <div id="confirm-form-group" class="form-group row">
              <label for="password_confirm" class="col-sm-3 col-form-label" data-l10n-id="keygen_dialog_confirm"></label>
              <div class="col-sm-9">
                <input type="password" class="form-control text-monospace" id="password_confirm" autocomplete="off">
                  <div class="invalid-feedback" data-l10n-id="keygen_dialog_confirm_error_unequal"></div>
                  <div class="valid-feedback" data-l10n-id="keygen_dialog_confirm_success"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="key_gen_waiting" class="card">
    <div class="card-body">
      <div class="m-spinner-inline my-3"><div class="symbol"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
      <h5 class="card-title" data-l10n-id="keygen_waiting_headline">Card title</h5>
      <p class="card-text" data-l10n-id="keygen_waiting_description"></p>
    </div>
  </div>
</div>
