
.onoffswitch {
    position: relative;
    width: 70px;
    user-select:none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #666666;
    border-radius: 5px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 24px;
    padding: 0;
    line-height: 24px;
    font-size: 16px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "I";
    padding-left: 10px;
    background-color: #337ab7;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "O";
    padding-right: 10px;
    text-align: right;
}

.onoffswitch-default .onoffswitch-inner:after {
    background-color: #F8F8F8;
    color: #666666;
}

.onoffswitch-danger .onoffswitch-inner:after {
    background-color: #D43F3A;
    color: #FFFFFF;
}

.onoffswitch-switch {
    display: block;
    width: 35px;
    margin: 0;
    background: #FFFFFF;
    border: 1px solid #666666;
    border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 35px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0;
}
