@import "../../res/styles/_required";

.encrypt {
  .plain-text {
    iframe {
      position: absolute;
      width: 93%;
      height: 95%;
      margin-bottom: 0;
      color: $black;
      resize: none;
    }
  }
}
