
.editor-footer .btn-upload-embedded {
  font-size: 11px;
  border: 1px solid #b9b9b9;
  background: #e6e6e6 linear-gradient(to bottom, #fff, #e6e6e6);
  color: #333;
}

.editor-footer .btn-upload-embedded .glyphicon.glyphicon-paperclip {
  transform: rotate(180deg);
}

.editor-footer .add-file-input {
  display: none;
}

.editor-footer .nav-link-file-encryption {
  padding: .1em .3em;
  border: none;
  background: rgba(255,255,255,.5);
  font: 11px Verdana, sans-serif;
}
