
.editor-modal-footer .btn-sign-only {
  margin-right: 10px
}

.editor-modal-footer .sign-msg-option {
  text-align: left;
}

#signMsgOption, .sign-msg-option .form-group {
  margin-right: 7px;
}

.sign-msg-option .form-group select {
  width: 440px;
}

.sign-msg-option .form-group {
  display: inline-block;
  vertical-align: middle;
}

.sign-msg-option .checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

.editor-modal-footer .form-nav-link {
  font-size: 13px;
}
