@import "../../../res/styles/_required";

.recipients-input tags-input .tags .tag-item {
  transition: background-color 0.3s, border-color 0.3s;
}

.recipients-input tags-input .tags .tag-success {
  /* bootstrap btn-success color */
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.recipients-input tags-input .tags .tag-warning {
  /* bootstrap btn-warning color */
  background-color: #f0ad4e;
  border-color: #eea236;
}

.recipients-input tags-input .tags .tag-danger {
  /* bootstrap btn-danger color */
  background-color: #d9534f;
  border-color: #d43f3a;
}

.recipients-input .alert {
  margin: 10px 0 5px;
}

.recipients-input tags-input .tags {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.recipients-input tags-input .tags.focused {
  background-color: $input-focus-bg;
  border: 1px solid $input-focus-border-color;
  box-shadow: $input-focus-box-shadow;
}
