<div id="pwdbox">
  <div class="row">
    <div class="span5">
      <form class="well form-horizontal" onsubmit="return false">
        <label><h5>Password</h5></label>
        <div class="control-group" id="userIdGroup">
          <label class="control-label">User ID:</label>
          <div class="controls" id="userId"></div>
        </div>
        <div class="control-group" id="keyIdGroup">
          <label class="control-label">Key ID:</label>
          <div class="controls" id="keyId"></div>
        </div>
        <div class="control-group">
          <input id="password" type="password" class="span3" placeholder="Please enter...">
          <span class="help-inline hide">Wrong password</span>
          <div id="decryptAlert"></div>
        </div>
        <div>
          <button id="okBtn" class="btn btn-small btn-primary">Ok</button>
          <button id="cancelBtn" class="btn btn-small">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="decryptmail"></div>