<div id="keyDialog">
  <div class="row well">
    <div class="form-group">
      <div class="col-xs-9">
        <select id="keySelect" class="form-control"></select>
      </div>
      <div class="col-xs-3">
        <button id="addBtn" class="btn btn-sm btn-success pull-right" data-l10n-id="encrypt_dialog_add"></button>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-10" data-l10n-id="encrypt_dialog_header"></label>
    </div>
    <div class="form-group">
      <div class="col-xs-9">
        <select id="keyList" multiple="multiple" size="3" class="form-control"></select>
      </div>
      <div class="col-xs-3">
        <button id="deleteBtn" class="btn btn-sm btn-default pull-right" data-l10n-id="keygrid_delete"></button>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-10"></label>
    </div>
    <div class="form-group">
      <div class="col-xs-7">
        <button id="okBtn" class="btn btn-sm btn-primary" data-l10n-id="form_ok"></button>
        <button id="cancelBtn" class="btn btn-sm btn-default" data-l10n-id="form_cancel"></button>
      </div>
      <div class="col-xs-5">
        <label class="radio-inline pull-right">
          <input type="radio" name="encodeRadios" id="encodeHTML" value="html"> HTML
        </label>
        <label class="radio-inline">
          <input type="radio" name="encodeRadios" id="encodeText" value="text"> Text
        </label>
      </div>
    </div>
  </div>
</div>