<div id="keyDialog">
  <div class="row well">
    <div class="span5">
      <div class="row">
        <div class="span4">
          <select id="keySelect" class="span4">
          </select>
        </div>
        <div class="span1">
          <button id="addBtn" class="btn btn-small btn-success"> Add </button>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <label><h5>Encrypt for:</h5></label>        
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <select id="keyList" multiple="multiple" size="3" class="span4">
          </select>
        </div>
        <div class="span1">
          <button id="deleteBtn" class="btn btn-small">Delete</button>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <button id="okBtn" class="btn btn-small btn-primary">Ok</button>
          <button id="cancelBtn" class="btn btn-small">Cancel</button>
        </div>
        <div class="span2">
          <label class="radio inline">
            <input type="radio" name="encodeRadios" id="encodeHTML" value="html">
            HTML
          </label>
          <label class="radio inline">
            <input type="radio" name="encodeRadios" id="encodeText" value="text">
            Text
          </label>
        </div>
      </div>
    </div>
  </div>
</div>