<div id="keyDialog">
  <div class="row well">
    <div class="span5 selectBox">
      <div class="row">
        <div class="span4">
          <select id="keySelect" class="span4">
          </select>
        </div>
        <div class="span1">
          <button id="addBtn" class="btn btn-small btn-success" data-l10n-id="encrypt_dialog_add"></button>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <label><h5 data-l10n-id="encrypt_dialog_header"></h5></label>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <select id="keyList" multiple="multiple" size="3" class="span4">
          </select>
        </div>
        <div class="span1">
          <button id="deleteBtn" class="btn btn-small" data-l10n-id="keygrid_delete"></button>
        </div>
      </div>
      <div class="row">
        <div class="span2 footerToolbar">
          <button id="okBtn" class="btn btn-small btn-primary" data-l10n-id="form_ok"></button>
          <button id="cancelBtn" class="btn btn-small" data-l10n-id="form_cancel"></button>
        </div>
        <div class="span2">
          <label class="radio inline">
            <input type="radio" name="encodeRadios" id="encodeHTML" value="html">
            HTML
          </label>
          <label class="radio inline">
            <input type="radio" name="encodeRadios" id="encodeText" value="text">
            Text
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
