<section id="key_backup_generator" class="secureBackground">
  <header>
    <p class="text-right">
      <button class="btn btn-link secureBgndSettingsBtn" data-l10n-title-id="security_background_button_title"><span class="glyphicon lockBtnIcon"></span></button>
    </p>
  </header>
  <section class="well form-horizontal" role="main">
    <h1 data-l10n-id="keybackup_dialog_headline"></h1>
    <p data-l10n-id="keybackup_dialog_description"></p>
    <ul>
      <li data-l10n-id="keybackup_dialog_list_1"></li>
      <li data-l10n-id="keybackup_dialog_list_2"></li>
    </ul>
    <p class="form-controll">
      <button id="createBackupCodeBtn" class="btn btn-primary" data-l10n-id="keybackup_dialog_button"></button>
    </p>
  </section>
</section>
