<section id="restorePrivateKey">
  <header>
    <div class="text-right">
      <button class="btn btn-link secureBgndSettingsBtn" data-l10n-title-id="security_background_button_title"><span class="glyphicon lockBtnIcon"></span></button>
    </div>
  </header>
  <section class="well form-horizontal" role="main">
    <h3 data-l10n-id="restore_backup_dialog_headline"></h3>
    <section class="flex-box">
      <input type="text" class="form-control form- flex-digit" maxlength="5" autofocus>
      <span class="flex-separator"> – </span>
      <input type="text" class="form-control flex-digit" maxlength="5">
      <span class="flex-separator"> – </span>
      <input type="text" class="form-control flex-digit" maxlength="5">
      <span class="flex-separator"> – </span>
      <input type="text" class="form-control flex-digit" maxlength="5">
      <span class="flex-separator"> – </span>
      <input type="text" class="form-control flex-digit" maxlength="5">
      <span class="flex-separator"> – </span>
      <input type="text" class="form-control flex-digit last" maxlength="1">
    </section>
    <footer>
      <div>
        <span id="errorMsg" class="alert alert-danger pull-left" role="alert" style="display:none">test</span>
      </div>
      <div class="text-right">
      <button id="restoreBackupBtn" class="btn btn-primary flex-button" disabled data-l10n-id="restore_backup_dialog_button"></button>
      </div>
    </footer>
  </section>
</section>
