<div id="keyDialog">
  <div class="row well">
    <div class="span4">
      <div class="row">
        <div class="span4">
          <label for="keySelect">
              <span data-l10n-id="sign_dialog_header"></span>
              <select id="keySelect" class="span4">
              </select>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <button id="okBtn" class="btn btn-small btn-primary" data-l10n-id="form_ok"></button>
          <button id="cancelBtn" class="btn btn-small" data-l10n-id="form_cancel"></button>
        </div>
      </div>
    </div>
  </div>
</div>
