<div id="keyDialog">
  <div class="row well">
    <div class="span4">
      <div class="row">
        <div class="span4">
          <label for="keySelect">
              Sign message with key:
              <select id="keySelect" class="span4">
              </select>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <button id="okBtn" class="btn btn-small btn-primary">Ok</button>
          <button id="cancelBtn" class="btn btn-small">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
